<header class="banner top"></header>
<div>
  <% if session[:error] %>
    <div class="flash error">
      <p><%= session.delete(:error) %></p>
    </div>
  <% end %>
</div>
<div class="intro">
  <h1>Budget Schmudget</h1>
  <p>An expense tracking app that doesn't take itself too seriously.</p>

  <a href="/budget" id="start">Get Started</a>
</div>
