<header class="banner top"></header>
<div class="intro">
  <h1>Budget, Schmudget</h1>
  <h2>(an incredibly basic budget management app)</h2>

  <a href="/budget" id="start">Get Started</a>
</div>
<footer class="banner bottom" id="shortpagefooter"></footer>
